/StreamingAssets
/StreamingAssets.meta

/UnityWebServer.Samples
/UnityWebServer.Samples.meta

/UnityWebServer.Multipart.Plugins
/UnityWebServer.Multipart.Plugins.meta

/UnityWebServer.Multipart.Samples
/UnityWebServer.Multipart.Samples.meta