/StreamingAssets
/StreamingAssets.meta

/UniWebServer.Samples
/UniWebServer.Samples.meta

/UniWebServer.Multipart.Plugins
/UniWebServer.Multipart.Plugins.meta

/UniWebServer.Multipart.Samples
/UniWebServer.Multipart.Samples.meta